.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

/* *{
   border: 1px solid red;
} */

.clickable{
  cursor: pointer;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  
  background-color: #282c34;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.colored-star{
  color: orange;
}
.rate-star{
  color: purple;
}

.rate-container .fa-star{
  /* margin-top: 20px;
  border-top: 2px solid purple; */
  font-size: 1.5rem;
  /* cursor: pointer; */
}

.movie-item{
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.movie-item .clickable{
  font-size: 1.2rem;
  margin: 16px 5px;
}

.centerMe{
  text-align: center;
}

.login{
  text-align: center;
}

.link{
  text-decoration: green underline;
  color: green;

}